{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% for post in posts %}
<article>
  <link rel="stylesheet" href="{% static 'blog/ps.css' %}">
  <div class="personal-statement-wrap">
      <div class="">
        <div data-aos="fade-in" data-aos-duration="2000">
          <h1>{{ post.intro }}</h1>
          <h3>{{ post.description }}</h3>
          <hr>
        </div>
      </div>
      {% for paragraph in post.content %}
      <p data-aos="fade-right" data-aos-duration="1000">{{ paragraph }}</p>
      {% endfor %}
  </div>
</article>
{% endfor %}
{% endblock content %}